* {
    box-sizing: border-box;
    margin: 0%;
}
body{
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.desk{
    display: block;
    width: 250px;
    border-radius: 15px 0px 0px 15px;
}
.info{
    background-color: white;
    width: 250px;
    height: 375px;
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
}
@media (max-width: 375px){
    main{
        flex-direction: column;
    }
    .desk{
        border-radius: 15px 15px 0px 0px;
    }
    .info{
        border-radius: 0px 0px 15px 15px;
    }
}
h1{
    padding: 10px 0 10px 0;
}
.per{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 10px;
    color: hsl(158, 36%, 37%);
}
p{
    font-family: 'Montserrat', sans-serif;
}
.prix {
    color: hsl(158, 36%, 37%);
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.prix h3{
    color: black;
    padding: 20px;
    text-decoration-line: line-through; 
}

.atc{
    border-radius: 14px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.atc img{
    margin-right: 10px;
    height: 12px;
    width: 12px;
}


